__pycache__/
*.py[cod]
*.cpp-e
*.h-e
.DS_Store
.vs/
.vscode/
obj/
data/
Temp/
environments/unity/*/Library/
environments/unity/*/Logs/
environments/unity/*/.vscode/
environments/unity/*/*.sln
environments/unity/*/*.csproj
environments/unity/*/Assets/StreamingAssets/falken_config.json*
environments/unity/*/Assets/Falken**
sdk/unity/Library/
sdk/unity/Logs/
sdk/unity/.vscode/
sdk/unity/*.sln
sdk/unity/*.csproj
sdk/unity/Assets/StreamingAssets/
sdk/unity/Assets/StreamingAssets.meta
sdk/unity/Assets/Falken/Editor/falken_*_manifest.txt*
sdk/unity/Assets/Falken/LICENSE.txt
sdk/unity/Assets/Falken/LICENSE.txt.meta
sdk/unity/build
protos/build_protos
CMakeCache.txt
CMakeFiles/
CMakeScripts/
_deps/
cmake_install.cmake
sdk/cpp/build/
dashboard/.*
dashboard/node_modules/**
dashboard/dist/falken.js
dashboard/dist/falken_grpc-bundle.js
dashboard/gen
dashboard/tmp
