__pycache__/
*.py[cod]
*.cpp-e
*.h-e
.DS_Store
.vs/
.vscode/
obj/
data/
Temp/
environments/unity/*/Library/
environments/unity/*/Logs/
environments/unity/*/.vscode/
environments/unity/*/Assets/StreamingAssets/falken_config.json*
environments/unity/*/Assets/Falken**
environments/unity/*/Library/
environments/unity/*/Logs/
environments/unity/*/.vscode/
protos/build_protos
CMakeCache.txt
CMakeFiles/
CMakeScripts/
_deps/
cmake_install.cmake
sdk/cpp/build/
sdk/unity/build/
sdk/unity/Assets/Falken/Editor/falken_*_manifest.txt*
sdk/unity/Assets/Falken/LICENSE.txt
sdk/unity/Assets/Falken/LICENSE.txt.meta
sdk/unity/Assets/StreamingAssets/
sdk/unity/Assets/StreamingAssets.meta
dashboard/.npmrc
dashboard/node_modules/**
dashboard/dist/falken.js
dashboard/dist/falken_grpc-bundle.js
dashboard/tmp
